#Learn to Python Programming

![Python-Logo.webp]()

Todsapon Banklongsi

[Aj. NesT the Series](https://youtube.com/ajnesttheseries)

##2. Python Lists

###Ex2.1 ใช้ Python Create a list เก็บข้อมูลแบบเป็นรายการ

In [ ]:
#Ex2.1 ใช้ Python Create a list เก็บข้อมูลแบบเป็นรายการ
#Motor Show area varibles (in square meters)
Toyota = 1404.89
BMW = 1269.34
Honda = 1512.28
Mazda = 1620.14
Bentley = 171.49

#Create list areas
areas = [Toyota, BMW, Honda, Mazda, Bentley]

#Print person age
print(areas)

[1404.89, 1269.34, 1512.28, 1620.14, 171.49]

###Ex2.2 ใช้ Python Create list with different types เก็บข้อมูลแบบรายการต่างชนิดกัน

In [ ]:
#Ex2.2 ใช้ Python Create list with different types เก็บข้อมูลแบบรายการต่างชนิดกัน
#Motor Show area varibles (in square meters)
Toyota = 1404.89
BMW = 1269.34
Honda = 1512.28
Mazda = 1620.14
Bentley = 171.49
#Adapt list areas
areas = ["Toyota", Toyota, "BMW", BMW, "Honda", Honda, "Mazda", Mazda, "Bentley", Bentley]
#Print areas
print(areas)

['Toyota', 1404.89, 'BMW', 1269.34, 'Honda', 1512.28, 'Mazda', 1620.14, 'Bentley', 171.49]

###Ex2.3 ใช้ Python Create list แบบต่าง ๆ

In [ ]:
#Ex2.3 ใช้ Python Create list แบบต่าง ๆ
list1 = [2, 4, 5, 3]
list2 = [[2,3,4], [5, 6, 8]]
list3 = [2 + 3, "B" * 6, 9]
print(list1)
print(list2)
print(list3)

[2, 4, 5, 3]
[[2, 3, 4], [5, 6, 8]]
[5, 'BBBBBB', 9]

###Ex2.4 ใช้ Python สร้าง List of lists

In [ ]:
#Ex2.4 ใช้ Python List of lists ลิสต์ของรายการ
#Motor Show area variables (in square meters)
Toyota = 1404.89
BMW = 1269.34
Honda = 1512.28
Mazda = 1620.14
Bentley = 171.49

#Motor Show information as list of lists
motorshow = [["Toyota", Toyota],
             ["BMW", BMW],
             ["Honda", Honda],
             ["Mazda", Mazda],
             ["Bentley", Bentley]]

#Print out Motor Show
print(motorshow)

#Print out the type of Motor Show
print(type(motorshow))

[['Toyota', 1404.89], ['BMW', 1269.34], ['Honda', 1512.28], ['Mazda', 1620.14], ['Bentley', 171.49]]
<class 'list'>

###Ex2.5 ใช้ Python สร้าง Subset and Conquer

In [ ]:
#Ex2.5 ใช้ Python สร้าง Subset and conquer
#Create the areas list
areas = ["Toyota", 1404.89, "BMW", 1269.34, "Honda", 1512.28, "Mazda", 1620.14, "Bentley", 171.49]

#Print out second element from areas
print(areas[1])

#Print out last element from areas
print(areas[9])

#Print out the area of the Mazda
print(areas[7])

1404.89
171.49
1620.14

###Ex2.6 ใช้ Python สร้าง Subset and Calculate

In [ ]:
#Ex2.6 ใช้ Python สร้าง Subset and Calculate
#Create the areas list
areas = ["Toyota", 1404.89, "BMW", 1269.34, "Honda", 1512.28, "Mazda", 1620.14, "Bentley", 171.49]

#Sum of Toyota and Honda area: toyota_honda_area
toyota_honda_area = areas[3] + areas[9]

#Print the variable toyota_honda_area
print(toyota_honda_area)

1440.83

###Ex2.7 ใช้ Python สร้าง Slicing and Dicing

In [ ]:
#Ex2.7 ใช้ Python สร้าง Slicing and Dicing
#Create the areas list
areas = ["Toyota", 1404.89, "BMW", 1269.34, "Honda", 1512.28, "Mazda", 1620.14, "Bentley", 171.49]

#Use slicing to create downstairs (First 6 elements of areas)
#Method 1
downstairs = areas[0:6]
#Method 2
downstairs_opt = areas[:6]

#Use slicing to create upstairs (Last 4 elements of areas)
#Method 1
upstairs = areas[6:10]
#Method 2
upstairs_opt = areas[6:]

#Print out downstairs and upstairs
print("Method 1")
print(downstairs)
print(upstairs)
print("\nMethod 2")
print(downstairs_opt)
print(upstairs_opt)

Method 1
['Toyota', 1404.89, 'BMW', 1269.34, 'Honda', 1512.28]
['Mazda', 1620.14, 'Bentley', 171.49]

Method 2
['Toyota', 1404.89, 'BMW', 1269.34, 'Honda', 1512.28]
['Mazda', 1620.14, 'Bentley', 171.49]

###Ex2.8 ใช้ Python ทำการ Replace list elements

In [ ]:
#Ex2.8 ใช้ Python ทำการ Replace list elements
#Create the areas list
areas = ["Toyota", 1404.89, "BMW", 1269.34, "Honda", 1512.28, "Mazda", 1620.14, "Bentley", 171.49]
print("Before")
print(areas)

#ปรับพื้นที่ของ BMW เป็น 1869.39 
areas[3] = 1869.39
#ปรับพื้นที่ของ Bentley เป็น 1173.49 
areas[-1] = 1173.49

#เปลี่ยน "Mazda" to "Tesla"
areas[6] = "Tesla"

#Print the areas variable lists
print("After")
print(areas)

Before
['Toyota', 1404.89, 'BMW', 1269.34, 'Honda', 1512.28, 'Mazda', 1620.14, 'Bentley', 171.49]
After
['Toyota', 1404.89, 'BMW', 1869.39, 'Honda', 1512.28, 'Tesla', 1620.14, 'Bentley', 1173.49]

###Ex2.9 ใช้ Python ทำการ Extend a list

In [ ]:
#Ex2.9 ใช้ Python ทำการ Extend a list
#Create the areas list and make some changes
areas = ["Toyota", 1404.89, "BMW", 1869.39, "Honda", 1512.28, "Tesla", 1620.14, "Bentley", 171.49]
print('Before')
print(areas)

#Add Ferrari data to areas, new list is areas_1 1936.69
print('After 1')
add_areas = areas + ["Ferrari", 1936.69]
print(add_areas)

#Add Lamborghini data to areas_1, new list is areas_2 2148.38
print('After 2')
new_areas = add_areas + ["Lamborghini", 2148.38]
print(new_areas)

Before
['Toyota', 1404.89, 'BMW', 1869.39, 'Honda', 1512.28, 'Tesla', 1620.14, 'Bentley', 171.49]
After 1
['Toyota', 1404.89, 'BMW', 1869.39, 'Honda', 1512.28, 'Tesla', 1620.14, 'Bentley', 171.49, 'Ferrari', 1936.69]
After 2
['Toyota', 1404.89, 'BMW', 1869.39, 'Honda', 1512.28, 'Tesla', 1620.14, 'Bentley', 171.49, 'Ferrari', 1936.69, 'Lamborghini', 2148.38]

###Ex2.10 ใช้ Python ทำการ Delete list elements

In [ ]:
#Ex2.10 ใช้ Python ทำการ Delete list elements
new_areas = ['Toyota', 1404.89, 'BMW', 1869.39, 'Honda', 1512.28, 'Tesla', 1620.14, 
             'Bentley', 171.49, 'Ferrari', 1936.69, 'Lamborghini', 2148.38]
print('Before')
print(new_areas)

print('After 1')
del(new_areas[12:14])
print(new_areas)

print('After 2')
del(new_areas[2:4])
print(new_areas)

Before
['Toyota', 1404.89, 'BMW', 1869.39, 'Honda', 1512.28, 'Tesla', 1620.14, 'Bentley', 171.49, 'Ferrari', 1936.69, 'Lamborghini', 2148.38]
After 1
['Toyota', 1404.89, 'BMW', 1869.39, 'Honda', 1512.28, 'Tesla', 1620.14, 'Bentley', 171.49, 'Ferrari', 1936.69]
After 2
['Toyota', 1404.89, 'Honda', 1512.28, 'Tesla', 1620.14, 'Bentley', 171.49, 'Ferrari', 1936.69]

###Ex2.11 ใช้ Python ทำ Inner workings of lists

In [ ]:
#Ex2.11 ใช้ Python ทำ Inner workings of lists
#Create list areas
areas = [1404.89, 1512.28, 1620.14, 171.49, 1936.69]
print("Before")
print(areas)

#Create areas_copy
areas_copy = list(areas)

#Change areas_copy
areas_copy[0] = 1638.34

#Print areas_copy
print("After")
print(areas_copy)

Before
[1404.89, 1512.28, 1620.14, 171.49, 1936.69]
After
[1638.34, 1512.28, 1620.14, 171.49, 1936.69]